body{
    margin: 0;
    border: 0;
    padding: 0;
}
.parrafo1{
    margin: 100px;
    border: 50px solid orange;
    padding: 25px;
    text-align: justify;
    background-color: yellow;
}
.parrafo2{
    margin: 100px;
    border: 50px solid orange;
    border-radius: 20px;
    padding: 25px;
    text-align: justify;
    background-color: cyan;
}